body{
    background-color:#FFFFFF; 
    margin: 0px;
    font-family: "Archivo", sans-serif;
}

.seccion1 {
    display: flex; /*Practicamente acomoda los elementos en una fila horizontal*/
    justify-content: center; /*Acomoda en el eje horizontal*/
    align-items: center; /*Acomoda en el eje contrario en este caso el eje vertical*/
    background-color: #7B2FF7;
    gap: 100px; /*Espacio entre elementos*/
    padding: 0rem 18.75rem;
}

.texto-seccion1{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: justify;
}
.boton{
    background-color: #F5A623;
    color: white;
    text-decoration: none; /*Quita la linea del linnk*/
    padding: 10px 20px;
    border-radius: 5px;
    
}
.seccion1 img{
    width: 300px;
    margin: 0;
}
.seccion1 h2{
    margin: 0px;
    color: #FFFFFF;
    text-align: left
}
.seccion2 {
    padding: 5rem;
    text-align: center;
}
.seccion2 h2{
    margin-bottom: 3.75rem;
    margin-top: 0;
}
.producto{
    display: inline-block; /**/
    width: 200px;
    margin: 10px;
    padding: 15px;
    border: 2px solid #F472B6; 
    border-radius: 7px;
    background-color: #FFFFFF;
}
.producto img{
    width: 100%;
    border-radius: 10px;
}
.seccion3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: #F5F5F5;
    padding: 0rem 18.75rem;
}
.texto-seccion3{
    display: flex;
    flex-direction: column; 
    text-align: justify;
   
}
.seccion3 h2{
    margin: 0px;
}
.icono-nosotros{
    width: 12%;
    margin: 0;
}
footer{
    text-align: center;
    padding: 20px;
    color: #f0f0f0;
    background-color: #1F2937;
}
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 0px 50px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 40px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: #7C3AED;
}

h1, h2{
    color: #7C3AED;
    font-size: 2.5rem;
    font-family: "Archivo Black", sans-serif;
}

a{
    color: #7C3AED;
    font-weight: bolder;
}
a:hover{
    color: #F5A623;
    cursor: pointer;
    text-decoration: none;
}


