body{
    background-color:#FFFEE6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1, h2{
    font-size: 9rem;
    color: #E8D8A1;
    text-align: center;
}
p{
    font-size: 2rem;
    color: #000000;
    text-align: center;
}
img{
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}
a{
    font-size: 4rem;
    color: #44ff47
    font-weight: bold;
}
a:hover{
    color: #ff0000;
    text-decoration: underline; /*esra linea es subrayado*/
    text-decoration-color: #1500ff; /*esta linea es el color*/
}